.btn-canciones button, .btn-main{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: transparent;
	border: 1px solid #311204;
	font-size: 25px;
}
button:hover, .btn-main:hover{
	background-color: #311204;
	color: white;
}

li{
	padding: 10px;
	text-align: left;
	font-size: 25px;
}
li:hover, li.active{
	cursor: pointer;
	font-weight: bolder;
}

.controls{
	background: rgba(208, 180, 169, 0.3);
}

progress{
	height: 20px;
	width: 80%;
	margin: 10px;
	opacity: 0.5;
}